apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-blue
spec:
  replicas: 3
  selector:
    matchLabels:
      app: todo
  template:
    metadata:
      labels:
        app: todo
    spec:
      containers:
      - name: todo-blue
        image: cloudketan/react-todo
        ports:
        - containerPort: 3000
