apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-blue
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app: todo
  template:
    metadata:
      labels:
        app: todo
        version: blue
    spec:
      containers:
      - name: todo-blue
        image: cloudketan/react-blue:v1
        ports:
        - containerPort: 3000
