apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-green
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app: todo
  template:
    metadata:
      labels:
        app: todo
        version: green
    spec:
      containers:
      - name: todo-green
        image: cloudketan/todo:green
        ports:
        - containerPort: 3000
