apiVersion: v1
kind: Service
metadata:
  name: todo-service
  namespace: default
spec:
  type: NodePort
  selector:
    app: todo
    version: green
  ports:
    - port: 80
      targetPort: 3000
      nodePort: 30082
